//colors
$purple: #9b59b6;
$gray: #ecf0f1;
$white: white;
$red: #F22613;

//Typography
$font: 'Tahoma';
$font-size-base: 1rem;
$title-large: $font-size-base * 1;
$title-medium: $font-size-base * .5;

//Sizing
$width: 60%;

$padding: 20px;

$height: 600px;

//Style

$shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);

$radius: 6px;